body
{
	background-image: none;
	text-align: left;
}

a
{
	color: Black;
}
a:hover
{
	color: Black;
}

th
{
}

td
{
}

h3
{
}

.print
{
}

.contentLeftColumn
{
}

.contentRightColumn
{
}

li
{
	list-style-type: none;
}

/*-------------------------------------- invoice -------------------------------------------*/

.invoiceHeader
{
	width: 700px;
	height: 120px;
}

.invoiceTable td
{
	width: 400px;
	vertical-align: top;
	font-size: 12pt;
}

.invoiceBasket
{
	border: solid 1px #000000;
	margin: 20px 0;
}

.invoiceThanks
{
	font-size: 12pt;
	text-align: right;
	padding: 10px;
}

.invoiceLabelLeft
{
	font-size: 12pt;
	position: absolute;
	top: 1067px;
	left: 0px;
}

.invoiceLabelRight
{
	font-size: 12pt;
	position: absolute;
	top: 1067px;
	left: 495px;
}
