body
{
	background-image: none;
	text-align: left;
}

a
{
	color: Black;
}
a:hover
{
	color: Black;
}

th
{
}

td
{
}

h3
{
}

.print
{
}

.contentLeftColumn
{
}

.contentRightColumn
{
}

li
{
	list-style-type: none;
}

/*-------------------------------------- invoice -------------------------------------------*/

.invoiceLabelLeft
{
	font-size: 12pt;
	position: absolute;
	top: 1067px;
	left: 0px;
}

.invoiceLabelRight
{
	font-size: 12pt;
	position: absolute;
	top: 1067px;
	left: 495px;
}
