<?xml version="1.0"?>
<configuration>
  <!-- windsor configuration. 
  This is a web application, all components must have a lifesytle of 'transient' or 'preWebRequest' -->
  <components>

    <!-- repositories -->

    <!-- data context (this must have a lifestyle of 'perWebRequest' to allow the same data context
    to be used by all repositories) -->
    
    <component
      id="datacontext"
      type="Suteki.Shop.ShopDataContext, Suteki.Shop"
      lifestyle="perWebRequest" />
    
    <component
      id="generic.repository"
      service="Suteki.Shop.Repositories.IRepository`1, Suteki.Shop"
      type="Suteki.Shop.Repositories.Repository`1, Suteki.Shop"
      lifestyle="transient" />
    
    <!-- services -->

  </components>
</configuration>
