<?xml version="1.0"?>
<configuration>
  <!-- windsor configuration. 
  This is a web application, all components must have a lifesytle of 'transient' or 'preWebRequest' -->
  <components>

    <!-- repositories -->

    <!-- data context (this must have a lifestyle of 'perWebRequest' to allow the same data context
    to be used by all repositories) -->
    
    <component
      id="datacontext"
      type="Suteki.Shop.ShopDataContext, Suteki.Shop"
      lifestyle="perWebRequest" />
    
    <component
      id="generic.repository"
      service="Suteki.Shop.Repositories.IRepository`1, Suteki.Shop"
      type="Suteki.Shop.Repositories.Repository`1, Suteki.Shop"
      lifestyle="transient" />
    
    <!-- services -->

    <component
      id="imageFile.service"
      service="Suteki.Shop.Services.IImageFileService, Suteki.Shop"
      type="Suteki.Shop.Services.ImageFileService, Suteki.Shop"
      lifestyle="transient">
      <parameters>
        <imageFolderPath>C:\Source\Mike\SutekiShop\Suteki.Shop\Suteki.Shop\ProductPhotos</imageFolderPath>
      </parameters>
    </component>

    <component
      id="httpFile.service"
      service="Suteki.Shop.Services.IHttpFileService, Suteki.Shop"
      type="Suteki.Shop.Services.HttpFileService, Suteki.Shop"
      lifestyle="transient">
    </component>

    <component
      id="image.service"
      service="Suteki.Shop.Services.IImageService, Suteki.Shop"
      type="Suteki.Shop.Services.ImageService, Suteki.Shop"
      lifestyle="transient">
      <parameters>
        <mainHeight>300</mainHeight>
        <mainWidth>300</mainWidth>
        <thumbHeight>100</thumbHeight>
        <thumbWidth>100</thumbWidth>
      </parameters>
    </component>

    <component
      id="baseController.service"
      service="Suteki.Shop.Services.IBaseControllerService, Suteki.Shop"
      type="Suteki.Shop.Services.BaseControllerService, Suteki.Shop"
      lifestyle="transient">
    </component>

    <component
      id="size.service"
      service="Suteki.Shop.Services.ISizeService, Suteki.Shop"
      type="Suteki.Shop.Services.SizeService, Suteki.Shop"
      lifestyle="transient">
    </component>

    <component
      id="user.service"
      service="Suteki.Shop.Services.IUserService, Suteki.Shop"
      type="Suteki.Shop.Services.UserService, Suteki.Shop"
      lifestyle="transient">
    </component>

    <component
      id="orderable.service"
      service="Suteki.Shop.Services.IOrderableService`1, Suteki.Shop"
      type="Suteki.Shop.Services.OrderableService`1, Suteki.Shop"
      lifestyle="transient" />

  </components>
</configuration>
